In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
# Choose the executable path to driver 
 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
# Visit Nasa news url through splinter module

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Parse HTML with Beautiful Soup

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Retrieve the latest element that contains news title and news_paragraph

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

In [6]:
# Display scrapped data 

print(news_title)
print(news_p)

A Rover Pit Stop at JPL
Working like a finely honed machine, a team of engineers in this time-lapse video clip install test wheels on another finely honed machine: NASA's Mars 2020 rover.

# JPL Mars Space Images - Featured Image

In [7]:
# Visit Mars Space Images through splinter module

url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [8]:
# Have to click on "full image" button

full_image_elem = browser.find_by_id("full_image")
full_image_elem.click()

In [9]:
# Have to click on "more info" button

more_info_elem = browser.find_link_by_partial_text("more info")
more_info_elem.click()

In [10]:
# Parse HTML with Beautiful Soup

html = browser.html
img_soup = BeautifulSoup(html, "html.parser")

In [11]:
# Display image link

img_url_rel = img_soup.select_one("figure.lede a img").get("src")
img_url_rel

'/spaceimages/images/largesize/PIA19685_hires.jpg'

In [12]:
# main link

main_url = "https://www.jpl.nasa.gov"

In [13]:
# combine main link and image link

featured_image_url = main_url + img_url_rel

In [14]:
# Display full link

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19685_hires.jpg'

# Mars Weather

In [15]:
# Visit Mars Weather Twitter through splinter module

url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [16]:
# Parse HTML with Beautiful Soup

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [17]:
# Find all elements that contain tweets

tweets = soup.find_all("div", class_= "js-tweet-text-container")

In [18]:
# Retrieve all elements that contain news title in the specified range
# Look for entries that display weather related words
  # to exclude non weather related tweets

for tweet in tweets: 
    mars_weather = tweet.find('p').text

In [19]:
# Display the Mars Weather

mars_weather

'InSight sol 201 (2019-06-20) low -103.3ºC (-153.9ºF) high -24.0ºC (-11.2ºF)\nwinds from the SSE at 4.2 m/s (9.5 mph) gusting to 16.1 m/s (36.0 mph)\npressure at 7.60 hPa'

# Mars Facts

In [20]:
# Visit Mars facts url 

url = "https://space-facts.com/mars/"
browser.visit(url)

In [21]:
# Use Panda's `read_html` to parse the url

mars_facts = pd.read_html(url)
mars_facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
# Find the mars facts DataFrame in the list of DataFrames as assign it to `mars_df`

mars_df = mars_facts[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
# Assign the columns `['Description', 'Value']`

mars_dataframe = mars_df.rename(columns = {0 : "Description", 1 : "Value"})
mars_dataframe

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
# Set the index to the `Description` column

mars_df = mars_dataframe.set_index("Description")
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [25]:
# Save html code 

mars_df.to_html("mars_df.html")

In [26]:
#data = mars_df.to_dict(orient='records')
#data

In [27]:
# Visualization of Mars Facts

mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

# Mars Hemispheres

In [28]:
# Visit Mars Hemispheres through splinter module

url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [29]:
# Parse HTML with Beautiful Soup

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [30]:
# Retreive all items that contain mars hemispheres information

items = soup.find_all('div', class_='item')

In [31]:
# Create empty list for hemisphere urls 

hemisphere_image_urls = []

In [32]:
# Store the main_ul

hemispheres_main_url = 'https://astrogeology.usgs.gov'

In [33]:
# Loop through the items previously stored

for item in items: 
    
    # Store title
    
    title = item.find('h3').text
    # print(title)
    
    # Store link that leads to full image website
    
    partial_img_url = item.find('a', class_='itemLink product-item')['href']
    #print(partial_img_url)
    
    # Visit the link that contains the full image website 
    
    browser.visit(hemispheres_main_url + partial_img_url)
    
    # Parse HTML with Beautiful Soup for every individual hemisphere information website
    
    partial_img_html = browser.html
    soup = BeautifulSoup(partial_img_html, 'html.parser')
    
    # Retrieve full image source 
    
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    #print(img_url)
    
    # Append the retreived information into a list of dictionaries
    
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

    
# Display hemisphere_image_urls

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]